{% extends 'base.html.twig' %}

{% block javascripts %}
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"  rel="stylesheet"/>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
{% endblock %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    <div>
        <img id="background" src="{{ asset('images/main/creator.png') }}" alt="Image de neige">
    </div>
    <div id="trickCreator" class="page-content">
        <div class="container-creator">
            {% if form is defined %}
                <form action="{{ path('app_store_tricks')}}" method="post" enctype="multipart/form-data">
                    {{ form_start(form) }}
                    <p>Nom de la figure :</p>
                    {{ form_widget(form.name) }}
                    <p>Description :</p>
                    {{ form_widget(form.description) }}
                    <p>Catégorie :</p>
                    {{ form_widget(form.category) }}
                    <p>Texte :</p>
                    {{ form_widget(form.text) }}
                    <p>Image de fond :</p>
                    {{ form_row(form.bg_img) }}
                    <p>Image de présentation :</p>
                    {{ form_row(form.picture) }}
                    <p>Pièces jointes :</p>
                    {{ form_widget(form.images) }}
                    {{ form_rest(form) }}
                    <button type="submit">Enregistrer</button>
                    {{ form_end(form) }}
                </form>
            {% else %}
                <form action="{{ path('save_edit_trick', {id: trick.id})}}" method="post" enctype="multipart/form-data">
                    {{ form_start(trickForm) }}
                    <p>Nom de la figure :</p>
                    {{ form_widget(trickForm.name) }}
                    <p>Description :</p>
                    {{ form_widget(trickForm.description) }}
                    <p>Catégorie :</p>
                    {{ form_widget(trickForm.category) }}
                    <p>Texte :</p>
                    {{ form_widget(trickForm.text) }}
                    <p>Image de fond :</p>
                    <div class="attach pres_img-div" id="bg_img">
                        <input type="checkbox" class="checkbox" id="bg" name="bg" checked hidden>
                        <div id="cibg" class="container-img">
                            <div class="trash">
                                <img src="{{ asset("images/main/trash.svg") }}" alt="" onclick="bgRemover()">
                            </div>
                            <img class="pres-img" src="{{ asset("/images/tricks/"~trick.getBgImg()) }}" alt="">
                        </div>
                        {{ form_row(trickForm.edit_bg_img) }}
                    </div>
                    {{ form_row(trickForm.bg_img) }}
                    <p>Image de présentation :</p>
                    <div class="attach pres_img-div">
                        <input type="checkbox" class="checkbox" id="pres" name="pres" checked hidden>
                        <div id="cipr" class="container-img">
                            <div class="trash">
                                <img src="{{ asset("images/main/trash.svg") }}" alt="" onclick="pictureRemover()">
                            </div>
                            <img class="pres-img" src="{{ asset("/images/tricks/"~trick.picture) }}" alt="">
                        </div>
                    </div>
                    {{ form_row(trickForm.edit_picture) }}
                    {{ form_row(trickForm.picture) }}
                    <p>Pièces jointes :</p>

                    {{ form_widget(trickForm.images) }}
                    <div class="attachements">
                        {% for attachement in trick.attachements.toArray()  %}
                            <div class="attach" id="attach{{ attachement.id }}">
                                <input type="checkbox" class="checkbox" id="att{{ attachement.id }}" name="check{{ attachement.id }}" checked hidden>
                                <div id="ci{{ attachement.id }}" class="container-img">
                                    <div class="trash">
                                        <img src="{{ asset("images/main/trash.svg") }}" alt="" onclick="imageRemover('{{ attachement.id }}')">
                                    </div>
                                    <img src="{{ asset("/images/tricks/attachments/"~attachement.path) }}" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    {{ form_rest(trickForm) }}


                    <button type="submit">Enregistrer</button>
                    {{ form_end(trickForm) }}
                </form>
            {% endif %}
        </div>
    </div>
    <script src="{{ asset('controllers/attachementsFiles.js') }}"></script>

{% endblock %}