{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    {% set urlPath = app.request.getPathInfo() %}
    {% set parts = urlPath|split('/') %}
    <div>
        <img id="background" src="{{ asset('images/main/edit-pwd.jpeg') }}" alt="Image de neige">
    </div>
    <div id="edit-pwd" class="page-content">
        <p>Changez votre mot de passe:</p>
        <form action="{{ path('app_set_new_password', {code: parts[2]})}}" method="post">
            {{ form_start(form) }}
            <p class="in-form">Nouveau mot de passe</p>
            {{ form_widget(form.password) }}
            <p class="in-form">Confirmez le mot de passe</p>
            {{ form_widget(form.confirmPassword) }}
            {{ form_rest(form) }}
            <br>
            <button type="submit">Enregistrer</button>
            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}
